
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Usuario</h1>


@if (ViewBag.error != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Exeption: </strong> @ViewBag.error
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
@if (ViewBag.result != null)
{

    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Resultado: </strong> @ViewBag.result
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
@if (ViewBag.info != null)
{
    <div class="alert alert-info alert-dismissible fade show" role="alert">
        <strong>Resultado: </strong> @ViewBag.info
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

<div class="container-fluid">
    <div class="container-fluid">
        <div class="row justify-content-between">
            <div class="col-lg-7 col-md-7 col-sm-12">
                <ul class="nav ">
                    <li class="nav-item ">
                        @*<a class="nav-link  btn-success" asp-area="" asp-controller="stock" asp-action="form" asp-route-accionCRUD=@AccionesCRUD.AGREGAR><i class="fa fa-plus" aria-hidden="true"></i>Agregar</a>*@
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn-dark" asp-action="ExportarRegistros" asp-controller="stock"><i class="fa fa-file-excel-o" aria-hidden="true"></i>Exportar</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-12 d-lg-inline-flex d-md-inline-flex justify-content-end ">
                <form class="form-inline" asp-action="buscar" asp-controller="stock" method="get">

                    @* name=[nameParameter from method] --> modelos/buscar?p_query= [valueInput]   *@
                    <input class="form-control form-control-sm" placeholder="Buscar..." name="p_query">
                    <button class="form-control form-control-sm btn btn-info " type="submit"><i class="fa fa-search" aria-hidden="true"></i>Buscar</button>
                </form>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <h6 class="m-2">Registros: </h6>
        <div class="container-fluid overflow-auto " style="max-height:300px;">
            <table class="table table-light table-hover  border-dark table-sm small">
                <thead class=" thead-dark">
                    <tr>
                        <th>Acciones</th>
                        <th>#</th>
                        <th>Articulo Descripcion</th>
                        <th>Cantidad stock </th>

                    </tr>
                </thead>
                <tbody class="table-bordered">
                    @{
                        if (Model != null)
                        {
                            int contRegistros = 1;
                            foreach (var item in Model)
                            {
                                <tr>
                                    <th>
                                        <a asp-action="eliminar" asp-controller="stock" asp-route-id=@item.Id onclick="generarRuta(@item.Id,event)" class="text-decoration-none text-danger" data-toggle="modal" data-target="#myModal"><i class="fa fa-trash fa-2x" aria-hidden="true"></i></a>
                                        @*<a asp-action="form" asp-controller="stock" asp-route-accionCRUD=@AccionesCRUD.MODIFICAR asp-route-id=@item.Id class="text-decoration-none"><i class="fa fa-pencil fa-2x" aria-hidden="true"></i></a>*@
                                        <a asp-action="detalle" asp-controller="stock" asp-route-id=@item.Id class="text-decoration-none text-dark"><i class="fa fa-info fa-2x" aria-hidden="true"></i></a>
                                    </th>
                                    <th>@contRegistros</th>
                                    <td>@item.ArticuloDescripcion</td>
                                    <td>@item.Cantidad</td>
                                </tr>


                                contRegistros = contRegistros + 1;
                            }
                        }

                    }
                </tbody>
            </table>
        </div>

    </div>
</div>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Confirmar Accion</h4>
            </div>
            <div class="modal-body">
                Esta por eliminar un registro, ¿desea continuar?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-dark" data-dismiss="modal">Close</button>
                <a id="btnmodalEliminar" class="btn btn-danger text-decoration-none">Aceptar</a>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script>

        let Id = 0;
        let action = "eliminar";
        let controller = "usuarios";
        const generarRuta = (p_id, event) => {
            //let pepe = document.getElementById('btnEliminar').dataset.id;
            //console.log("valor Id delete"+event.target.dataset.id);
            Id = p_id;
            document.getElementById("btnmodalEliminar").setAttribute("href", `/${controller}/${action}/${Id}`);
        };

    </script>
}

