
@using GestionVentas.Web.Enum;

@model List<GestionVentas.Web.Models.ViewModels.Articulos.ArticuloViewModel>

@{
    ViewData["Title"] = "Index";
    string tituloVista = "Articulos";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string p_query = "";

}

<h1>@tituloVista</h1>
<div class="container-fluid">
    <div class="container-fluid">
        <div class="row justify-content-between">
            <div class="col-lg-7 col-md-7 col-sm-12">
                <ul class="nav ">
                    <li class="nav-item ">
                        <a class="nav-link  btn-success" asp-area="" asp-controller="articulos" asp-action="form" asp-route-accionCRUD=@AccionesCRUD.AGREGAR>Agregar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn-dark" href="#">Exportar</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-12 d-lg-inline-flex d-md-inline-flex justify-content-end ">
                <form class="form-inline" asp-action="buscar" asp-controller="articulos" method="get">

                    @* name=[nameParameter from method] --> modelos/buscar?p_query= [valueInput]   *@
                    <input class="form-control form-control-sm " placeholder="Buscar..." name="p_query">
                    <button class="btn btn-info form-control-sm " type="submit">Buscar</button>
                </form>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <h6 class="m-2">Registros: </h6>
        <div class="container-fluid overflow-auto ">
            <table class="table table-light table-hover  border-dark small">
                <thead class=" thead-dark">
                    <tr>
                        <th>Acciones</th>
                        <th>#</th>
                        <th>Codigo</th>
                        <th>Descripcion</th>
                        <th>Modelo</th>
                        <th>Color</th>

                    </tr>
                </thead>
                <tbody>
                    @{
                        int contRegistros = 1;
                        foreach (var item in Model)
                        {
                                        <tr>
                                            <th>
                                                <a asp-action="eliminar" asp-controller="articulos" asp-route-id=@item.Id>Eliminar</a>
                                                <a asp-action="form" asp-controller="articulos" asp-route-accionCRUD=@AccionesCRUD.MODIFICAR asp-route-id=@item.Id>Modificar</a>
                                                <a asp-action="detalle" asp-controller="articulos" asp-route-id=@item.Id class="text-decoration-none">Detalles</a>
                                            </th>
                                            <th>@contRegistros</th>
                                            <td>@item.Codigo</td>
                                            <td>@item.Descripcion</td>
                                            <td>@item.ModeloDescripcion</td>
                                            <td>@item.ColorDescripcion</td>
                                        </tr>


                            contRegistros = contRegistros + 1;
                        }

                    }
                </tbody>
            </table>
        </div>
      
    </div>
</div>







