
@{
    ViewData["Title"] = "Index";
}

<h3>Venta</h3>
<div class="container border">
    <div class="row">
        <div class="col-5 form-group  row p-sm-2">
            <div class="col-sm-10 d-flex">
                <i class="fa fa-barcode m-2" aria-hidden="true"></i>
                <input class="form-control form-control-sm m-1" placeholder="Codigo barras" />
                <spam class="text-danger"></spam>
            </div>
        </div>
    </div>
    <div class="container-fluid overflow-auto " style="max-height:300px;">
        <table class="table table-light table-hover  border-dark table-sm small">
            <thead class=" thead-dark">
                <tr>
                    <th>#</th>
                    <th>Articulo</th>
                    <th>Precio</th>
                    <th>Unidades</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody class="table-bordered">
                @{
                    int contRegistros = 1;
                    foreach (var item in Model)
                    {
                        <tr>
                            <th>
                                <a asp-action="eliminar" asp-controller="articulos" asp-route-id=@item.Id class="text-decoration-none text-danger"><i class="fa fa-trash fa-2x" aria-hidden="true"></i></a>
                                <a asp-action="form" asp-controller="articulos" asp-route-accionCRUD=@AccionesCRUD.MODIFICAR asp-route-id=@item.Id class="text-decoration-none"><i class="fa fa-pencil fa-2x" aria-hidden="true"></i></a>
                                <a asp-action="detalle" asp-controller="articulos" asp-route-id=@item.Id class="text-decoration-none text-dark"><i class="fa fa-info fa-2x" aria-hidden="true"></i></a>
                            </th>
                            <th>@contRegistros</th>
                            <td>@item.Codigo</td>
                            <td>@item.Descripcion</td>
                            <td>@item.ModeloDescripcion</td>
                            <td>@item.ColorDescripcion</td>
                            <td>@item.MarcaDescripcion</td>
                            <td>@item.CategoriaDescripcion</td>
                            <td><input type="text" value="pepe" /></td>
                        </tr>


                        contRegistros = contRegistros + 1;
                    }

                }
            </tbody>
        </table>
    </div>
    
</div>

