
@model GestionVentas.Web.Models.ViewModels.Ventas.PuntoVentaViewModel

@{
    ViewData["Title"] = "Index";
}

<h3>Punto de Venta</h3>
@if (ViewBag.error != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Exeption: </strong> @ViewBag.error
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

@if (ViewBag.info != null)
{
    <div class="alert alert-info alert-dismissible fade show" role="alert">
        <strong>Resultado: </strong> @ViewBag.info
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
@if (ViewBag.result != null)
{
    <div class="alert alert-info alert-dismissible fade show" role="alert">
        <strong>Resultado: </strong> @ViewBag.result
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
<div class="container border">

    <form asp-action="AgregarArticulo" asp-controller="Ventas" method="get">

        @* name=[nameParameter from method] --> modelos/buscar?p_query= [valueInput]   *@
        @*<input class="form-control form-control-sm " placeholder="Buscar..." name="p_query">*@
        <div class="form-inline">
            <div class="form-group">
                <label class="col-form-label-sm col-sm-2 m-1">Codigo Barras:</label>
                <input class="form-control  m-1" placeholder="Codigo barras" name="p_codigoBarras" required />
                <i class="fa fa-barcode m-2" aria-hidden="true"></i>
                <spam class="text-danger"></spam>
            </div>

            <div class="form-group">
                @*<i class="fa fa-plus-circle m-2" aria-hidden="true"></i>*@
                <label class="col-form-label-sm col-sm-2 m-1">Cantidad:</label>
                <input class="form-control  m-1" placeholder="Cantiddad Unidadesde" name="cantidadUnideades" value="1" required />
                <spam class="text-danger"></spam>
            </div>

            <div class="form-group">
                <button class="btn btn-primary " type="submit"><i class="fa fa-cart-plus" aria-hidden="true"> </i> AGREGAR</button>
            </div>
        </div>


        <hr />
        <input id="txtNombreCompleto"  asp-for="InformacionCliente.NombreCompleto" value=@Model.InformacionCliente?.NombreCompleto  style="display:none;"/>
        <input id="txtDomicilio" asp-for="InformacionCliente.Domicilio" value=@Model.InformacionCliente?.Domicilio style="display:none;"/>
        <input id="txtLocalidad" asp-for="InformacionCliente.Localidad" value=@Model.InformacionCliente?.Localidad  style="display:none;"/>
        <input id="txtCodiPostal"  asp-for="InformacionCliente.CodiPostal" value=@Model.InformacionCliente?.CodiPostal style="display:none;"/>
        <input id="txtTelefono"  asp-for="InformacionCliente.Telefono" value=@Model.InformacionCliente?.Telefono  style="display:none;"/>




    </form>

    <hr />
    <p>Articulo añadidos:</p>
    <div class="container-fluid overflow-auto " style="max-height:300px;">
        <table class="table table-light table-hover  border-dark table-sm small">
            <thead class=" thead-dark">
                <tr>
                    <th>Acciones</th>
                    <th>#</th>
                    <th>Articulo</th>
                    <th>Precio</th>
                    <th>Unidades</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody class="table-bordered">
                @{
                    int contRegistros = 1;
                    decimal totalFinal = 0;
                    if(Model!=null)
                        if (Model.CarroArticulos != null)
                            foreach (var item in Model.CarroArticulos.Articulos)
                            {
                                <tr>
                                    <th>
                                        <a asp-action="EliminarArticulo" asp-controller="ventas" asp-route-IdArticulo=@item.Id class="text-decoration-none text-danger"><i class="fa fa-trash fa-2x" aria-hidden="true"></i></a>
                                    </th>
                                    <th>@contRegistros</th>
                                    <td>@item.ModeloDescripcion</td>
                                    <td>@item.Precio</td>
                                    <td>@item.CantidadUnidades</td>
                                    <td>@item.Total</td>

                                </tr>

                                totalFinal = totalFinal + item.Total;
                                contRegistros = contRegistros + 1;
                            }

                        <tr>
                            <th class="bg-dark text-white"></th>
                            <th class="bg-dark text-white"></th>
                            <th class="bg-dark text-white"></th>
                            <th class="bg-dark text-white"></th>
                            <th class="bg-dark text-white"></th>
                            <th class="bg-dark text-white">TOTAL FINAL: $@totalFinal</th>
                        </tr>

                    }
            </tbody>
        </table>




        <a id="btnDownload" asp-action="DescargarComprobanteVenta" asp-controller="ventas" asp-route-ventaId=@Model?.VentaId style="display:none;"></a>

    </div>
    <hr />
    @*despues de terminar de añadir articulos se debe completar como ultimo paso para conservar*@
    <p>Informacion de Cliente:</p>
    <form class="form-inline" asp-action="VenderArticulos" asp-controller="Ventas" method="post">
        <div class="form-group">
            @*<i class="fa fa-plus-circle m-2" aria-hidden="true"></i>*@
            <label class="col-form-label-sm col-sm-2 m-1">Nombre Completo:</label>
            <input id="NombreCompleto" asp-for="InformacionCliente.NombreCompleto" class="form-control  m-1" placeholder="Nombre Completo" value=@Model.InformacionCliente?.NombreCompleto required />
            <spam class="text-danger"></spam>
        </div>
        <div class="form-group">
            @*<i class="fa fa-plus-circle m-2" aria-hidden="true"></i>*@
            <label class="col-form-label-sm col-sm-2 m-1">Domicilio:</label>
            <input id="Domicilio" asp-for="InformacionCliente.Domicilio" class="form-control  m-1" placeholder="Domicilio" value=@Model.InformacionCliente?.Domicilio required />
            <spam class="text-danger"></spam>
        </div>
        <div class="form-group">
            @*<i class="fa fa-plus-circle m-2" aria-hidden="true"></i>*@
            <label class="col-form-label-sm col-sm-2 m-1">Localidad:</label>
            <input id="Localidad" asp-for="InformacionCliente.Localidad" class="form-control  m-1" placeholder="Localidad" value=@Model.InformacionCliente?.Localidad required />
            <spam class="text-danger"></spam>
        </div>
        <div class="form-group">
            @*<i class="fa fa-plus-circle m-2" aria-hidden="true"></i>*@
            <label class="col-form-label-sm col-sm-2 m-1">Codigo Postal:</label>
            <input id="CodiPostal" asp-for="InformacionCliente.CodiPostal" class="form-control  m-1" placeholder="Codigo Postal" value=@Model.InformacionCliente?.CodiPostal required />
            <spam class="text-danger"></spam>
        </div>
        <div class="form-group">
            @*<i class="fa fa-plus-circle m-2" aria-hidden="true"></i>*@
            <label class="col-form-label-sm col-sm-2 m-1">Telefono:</label>
            <input id="Telefono" asp-for="InformacionCliente.Telefono" class="form-control  m-1" placeholder="Telefono" value=@Model.InformacionCliente?.Telefono required />
            <spam class="text-danger"></spam>
        </div>
        <div>
            <button class="btn btn-success " type="submit"><i class="fa fa-money fa-2x" aria-hidden="true"> </i> VENDER</button>
        </div>
    </form>

</div>

@if (Model.VentaId == 0)
{
    @section scripts{

        <script>
            let telefono = document.getElementById("Telefono");
            let codiPostal = document.getElementById("CodiPostal");
            let localidad = document.getElementById("Localidad");
            let domicilio = document.getElementById("Domicilio");
            let nombreCompleto = document.getElementById("NombreCompleto");
            
            telefono.addEventListener("keyup", () => {
                document.getElementById("txtTelefono").value = telefono.value;
                //console.log(telefono.value);
            })
            codiPostal.addEventListener("keyup", () => {
                document.getElementById("txtCodiPostal").value = codiPostal.value;
                //console.log(codiPostal.value);
            })
            localidad.addEventListener("keyup", () => {
                document.getElementById("txtLocalidad").value = localidad.value;
                //console.log(localidad.value);
            })
            domicilio.addEventListener("keyup", () => {
                document.getElementById("txtDomicilio").value = domicilio.value;
                //console.log(domicilio.value);
            })
            nombreCompleto.addEventListener("keyup", () => {
                document.getElementById("txtNombreCompleto").value = nombreCompleto.value;
                //console.log(nombreCompleto.value);
            })


            
        </script>

    }
}
@if (Model.VentaId != 0)
{
    @section scripts{

        <script>
            //
            /*se ejecuta evento click de btnDownload, este ejecuta el action "DescargarComprobanteVenta"
             * de controller "ventas"
             *
             */
            document.getElementById("btnDownload").click();
        </script>

    }
}

